* {
  box-sizing: border-box;
}

:host(wh-imgedit)::before {  /* this block fixes top alignmenton of the label for an imgedit */
  content: "\a0";
  visibility: hidden;
  display: block;
  height: 0;
}

:host(wh-imgedit) button {
  cursor: pointer;
}

.images {
  display: inline-flex;
  flex-wrap:wrap;
  margin-left: -5px;
}

.image {
  margin-left: 5px;
  width: var(--wh-imgedit-width, 150px);
  height: var(--wh-imgedit-height, 150px);

  color: var(--wh-field-color, inherit);
  border: 1px solid var(--wh-field-border-color, #777);
  border-radius: var(--wh-field-border-radius, 2px);
  background-color: var(--wh-field-background-color, #fff);
  box-shadow: var(--wh-field-border-box-shadow, none);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  position:relative;

  padding: var(--wh-imgedit-margin, 8px);
  font-size: var(--wh-imgedit-font-size, 80%);
  line-height: var(--wh-imgedit-line-height, 120%);

  &:not(:disabled):hover {
    border-color: var(--wh-field-border-color--hover, var(--wh-field-border-color, #777));
    box-shadow: var(--wh-field-border-box-shadow--hover, var(--wh-field-border-box-shadow, none));
    background-color: var(--wh-field-background-color--hover, var(--wh-field-background-color, #fff));
    color: var(--wh-field-color--hover, var(--wh-field-color, inherit));
  }

  &:not(:disabled):focus-within {
    border-color: var(--wh-field-border-color--focus, var(--wh-field-border-color--hover, #777));
    box-shadow: var(--wh-field-border-box-shadow--focus, var(--wh-field-border-box-shadow--hover, none));
    background-color: var(--wh-field-background-color--focus, var(--wh-field-background-color--hover, #fff));
    color: var(--wh-field-color--focus, var(--wh-field-color--hover, inherit));
    outline: none;
  }
}

.image__uploadicon {
  display:inline-block;
  width: var(--wh-imgedit-uploadicon-width, 50px);
  height: var(--wh-imgedit-uploadicon-height, 50px);
  margin: var(--wh-imgedit-uploadicon-margin, 0 0 20px);
  background: url(upload.svg) center no-repeat;
  background-image: var(--wh-imgedit-uploadicon-background-image, url(upload.svg) );
  background-size: contain;
}
:host(wh-imgedit:disabled) .image__uploadicon {
  opacity: 0.3;
}

.image__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__explain {
  padding: var(--wh-imgedit-explain-padding, 3px);
}

.deletebutton {
  appearance: none;
  border:none;
  flex: none;
  color: white;
  background: black url(delete.svg) center/16px 16px no-repeat;
}

.image__deletebutton {
  position:absolute;
  bottom:0;
  right:0;
  width:30px;
  height:30px;
}


:host(wh-fileedit) {
  display: inline-block;
  flex: 1;
}

:host(wh-fileedit) * {
  box-sizing: border-box;
}

:host(wh-fileedit)>div {
  display: contents;
}

:host(wh-fileedit) button {
  cursor: pointer;
}

.file {
  display: flex;
  height: 100%;
}

.file + .file {
  margin-top: var(--wh-fileedit-margin-top, 10px);
}

.wh-form__button
{
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  flex: 0;
  border-radius: var(--wh-button-border-radius, 2px);
  white-space: nowrap;
  border: var(--wh-button-border, 1px solid #333);
  background-color: var(--wh-button-background-color,#ccc);
  color: var(--wh-button-color, inherit);
  padding: var(--wh-button-padding, 5px 10px);
  transition: var(--wh-button-transition);

  &:hover
  {
    border: var(--wh-button-border--hover, var(--wh-button-border, 1px solid #333));
    background-color: var(--wh-button-background-color--hover, var(--wh-button-background-color,#ccc));
    color: var(--wh-button-color--hover, var(--wh-button-color, inherit));
  }
}

.file__deletebutton {
  border-radius: var(--wh-button-border-radius, 2px);
  height: var(--wh-field-textinput-height, 30px);
  width: var(--wh-field-textinput-height, 30px);
}

.file__name {
  flex: 1 1 auto;
  margin-right: var(--wh-fileedit-name-margin-right,5px);
  height: var(--wh-field-textinput-height, 30px);
  padding: var(--wh-field-padding, 5px);
  font-size: inherit;
}
