@import "~@mod-tollium/web/ui/css/settings.scss";
@import "~@mod-tollium/web/ui/skins/default/mixins.scss";

/* Textedit structure:
     t-textedit (inline-fleX)
       .t-textedit__prefix?
       .t-textedit__field      (grows to fit, inline-flex)
         input                 (grows to fit)
         counter?
         button*
       .t-textedit__suffix?
*/

//Prefix and suffix
$prefix_suffix_margin: 5px; //Sync with textedit.es

t-textedit {
  display: inline-flex !important; //we need to defeat panel.scss which applies inline-block way too specific
  height: calc(var(--grid-height) - 1px);

  .t-textedit__counter {
    display: none;
    margin-top: 2.5px;
    transition: opacity 0.15s;
    @include tollium-character-counter;
  }

  &:focus-within .t-textedit__counter {
    opacity: 0.45;
    display: block;
  }

  .t-textedit__field {
    background: $control-background-color;
    border: 1px solid var(--border-color);
    color: #000000;
    border-radius: var(--border-radius);
    display: inline-flex;
    flex: 1 0 0;

    button {
      flex: 0 0 16px;
      height: auto; //button.scss sets height:23px, we need to undo that
      margin: 3px 0 0 4px;

      &:last-child {
        margin-right: 4px;
      }
    }

    input {
      flex: 1 0 0;
      height: 100%;
      position: relative;
      vertical-align: top;
      background: transparent;
      appearance: none;

      padding: 0 5px;
      color: inherit;
      font-size: 12px;
      line-height: 16px;
      //this makes the input appear to be min-width:0 and grow using the flex
      width: 0;

      &:focus {
        @include tollium-input-focused;
      }

      &[readonly]:not(:focus) {
        text-overflow: ellipsis;
      }
    }

    &:has(input[required]) {
      @include tollium-input-required;
    }

    &:has(input[readonly]) {
      @include tollium-input-disabled;
    }
  }
  &:not(.textedit--hiderequiredifdisabled) .t-textedit__field:has(input[required][readonly]) {
    @include tollium-input-required-and-disabled;
  }
}

.t-textedit__prefix,
.t-textedit__suffix {
  margin-top: 5px;
  white-space: nowrap;
}

.t-textedit__prefix {
  display: inline-block;
  vertical-align: top;
  margin-right: $prefix_suffix_margin;
}

.t-textedit__suffix {
  display: inline-block;
  vertical-align: top;
  margin-left: $prefix_suffix_margin;
}

t-textedit input~button.icon:not(.todd--disabled):hover {
  background: rgba(0, 0, 0, 0.1);
}

t-textedit input~button.icon .button__img {
  margin: 0;
}
