@import "~@mod-publisher/js/forms/fields/datetime.scss";

// Array field styling

.wh-form__arrayadd
{
  background:black;
  color:white;
  padding:3px;
  font-size:70%;

  &:before
  {
    content: "+";
  }

  .wh-form__fieldgroup--array.wh-form__array--maxrows &
  {
    display: none;
  }
}

.wh-form__arraydelete
{
  background:black;
  color:white;
  padding:3px;
  font-size:70%;

  &:before
  {
    content: "X";
  }
}

// Date and time styling
.datetime
{
  @include wh-datetime;

  &__togglepicker:before
  {
    content:"˅";
  }
  &__reset:before
  {
    content:"x";
  }
  &__picker
  {
  }
}
